REACT_APP_FIREBASE_API_KEY=AIzaSyCdvstMOEMn-hUwkFDE2NQyw9o8B6RUiwg
REACT_APP_FIREBASE_AUTH_DOMAIN=route-sonar-lmbzd.firebaseapp.com
REACT_APP_FIREBASE_PROJECT_ID=route-sonar-lmbzd
REACT_APP_FIREBASE_STORAGE_BUCKET=route-sonar-lmbzd.firebasestorage.app
REACT_APP_FIREBASE_MESSAGING_SENDER_ID=1005631232764
REACT_APP_FIREBASE_APP_ID=1:1005631232764:web:50b2e84ea79afde0f2d579
